<a (click)="logout()">Logout</a>
<main role="main" class="pb-3">
  <h1>Lista de Produtos</h1>
  <hr>

  <p>
    <a class="btn btn-info" href="#">Novo Produto</a>
  </p>

  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Descrição</th>
        <th>Marca</th>
        <th>Preço</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of productList">
        <td>
          {{ p.id }}
        </td>
        <td>
          {{ p.description }}
        </td>
        <td>
          {{ p.brand }}
        </td>
        <td>
          {{ p.price }}
        </td>
        <td class="text-right">
          <a class="btn btn-warning" href="#">
            <span class="fa fa-search"></span>
          </a>
          <a class="btn btn-info" href="#">
            <span class="fa fa-pencil-alt"></span>
          </a>
          <a class="btn btn-danger" href="#">
            <span class="fa fa-trash"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</main>